<h1>OrderNotifier#received</h1>

<p> Dear <%= @order.name %>
<%= @greeting %>, find me in app/views/order_notifier/received.html.erb
Thank you for the recent order.

You ordered the following items:

<%for item in @order.cart_items %>
<%= printf("%2d x %s", item.quantity, truncate(item.product.title, length: 50)) %>
<%end %>
You will receive a separate email when your order ships.
</p>
